<div class="row mr-0 justify-content-center align-items-center minh-100 contenido mb-3">

    <div class="col-md-12 titulo mb-5">
        <h4>404 NOT FOUND</h4>
    </div>

    <div class="col-md-6 col-sm-10 pt-5">
        <div class="image">
            <img class="img-fluid scare" src="./assets/img/Scarecrow.png" alt="Scarecrow">

        </div>

    </div>
    <div class="col-md-6 pr-0  texto">
        <div class="title col-lg-6 col-sm-12 pl-0">
            <h1>I have bad news for you</h1>
        </div>

        <div class="col-lg-6  col-sm-12 mt-5 pl-0">

            <p>The page you are looking for migth be removed or is temporarily unavailable </p>
        </div>

        <br>

        <button routerLink="/home" class="btn btn-dark btn_back p-3">BACK TO HOMEPAGE</button>
    </div>

</div>
<footer class="footer text-center ">Bryan Maza @ DevChallenges.io</footer>